<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= f.name %></title>
        <link rel="stylesheet" href="../css/folder.css">
        <script src="../scripts/popup.js"></script>
    </head>
    <body>
        <h1><strong><%= f.name %></strong></h1>
        <nav class="options">
            <% if (f.name !== 'root') { %>
                <button class="rename-btn" onclick="openRenamePopup(this)">Rename</button>
                <div class="rename-popup <%= activePopup === 'renameFolder' ? 'active': '' %>"> <!-- to keep popup open if set to true -->
                    <button class="close-popup" onclick="closeRenamePopup(this)">X</button>
                    <form action="/folder/<%= f.id %>/rename" method="POST">
                        <label for="renameFolder">New folder name:</label>
                        <input type="text" id="renameFolder" name="renameFolder" value="<%= formOld?.['renameFolder'] || '' %>" required>
                        <div class="error">
                            <% if (activePopup === 'renameFolder' && formErrors.length) { %>
                                <ul>
                                    <% formErrors.forEach(e => { %>
                                        <li style="color: red;"><%= e.msg %></li>
                                    <% }) %>
                                </ul>
                            <% } %>
                        </div>
                        <button type="submit">Rename</button>
                    </form>
                </div>
            <% } %>

            <% if (f.name !== 'root') { %>
                <button class="delete-btn" onclick="openDeletePopup(this)">Delete</button>
                <div class="delete-popup">
                    <button class="close-popup" onclick="closeDeletePopup(this)">X</button>
                    <form action="/folder/<%= f.id %>/delete" method="POST">
                        <p>Are you sure you want to delete this folder and all folders/files within it?</p>
                        <button name="yesDelete" type="submit">Yes</button>
                        <button name="noDelete" type="submit">No</button>
                    </form>
                </div>
            <% } %>
        </nav>
        <div class="folder-container">
            <h1>📂 <%= f.name %></h1>

            <% if (f.parentFolder) { %>
                <a href="/folder/<%= f.parentFolder.id %>">← Back</a>
            <% } else { %>
                <a href="/">← Home</a>
            <% } %>

            <hr />

            <!-- non parent folders (subfolders) -->
            <h2>Folders</h2>
            <button class="create-folder" onclick="openNewFolderPopup(this)">Create Folder</button>
            <div class="new-folder-popup <%= activePopup === 'createFolder' ? 'active' : '' %>"> <!-- to keep popup open if set to true -->
                <button class="close-popup" onclick="closeNewFolderPopup(this)">X</button>
                <form action="/folder/<%= f.id %>_<%= f.name.toLowerCase().replace(/\s+/g, '_') %>/create" method="POST">
                    <label for="newFolderName">Enter a name for the folder:</label>
                    <input type="text" id="newFolderName" name="newFolderName" value="<%= formOld?.['newFolderName'] || '' %>" required>
                    <div class="error">
                        <% if (activePopup === 'createFolder' && formErrors.length) { %>
                            <ul>
                                <% formErrors.forEach(e => { %>
                                    <li style="color: red;"><%= e.msg %></li>
                                <% }) %>
                            </ul>
                        <% } %>
                    </div>
                    <button type="submit">Submit</button>
                </form>
            </div>
            <% if (f.children.length === 0) { %>
                <p>No folders found</p>
            <% } else { %>
                <% f.children.forEach(child => { %>
                    <div class="subfolder">
                        📁 <button><a href="/folder/<%= child.id %>_<%= child.name.toLowerCase().replace(/\s+/g, '_') %>"><%= child.name %></a></button>
                    </div>
                <% }) %>
            <% } %>

            <hr />

            <!-- files -->
            <h2>Files</h2>
            <button class="upload-btn" onclick="openUploadFilePopup(this)">Upload file</button>
            <div class="upload-popup <%= activePopup === 'uploadFile' ? 'active': '' %>"> <!-- to keep popup open if set to true -->
                <button class="close-popup" onclick="closeUploadFilePopup(this)">X</button>
                <form action="/folder/<%= f.id %>_<% f.name.toLowerCase().replace(/\s+/g, '_') %>/upload-file" method="POST" enctype="multipart/form-data">
                    <label for="uploadFile">File name:</label>
                    <input type="text" id="uploadFile" name="uploadFile" value="<%= formOld?.['uploadFile'] || '' %>" required><br>
                    <input type="file" name="uploaded-file"><br>
                    <div class="error">
                        <% if (activePopup === 'uploadFile' && formErrors.length) { %>
                            <ul>
                                <% formErrors.forEach(e => { %>
                                    <li style="color: red;"><%= e.msg %></li>
                                <% }) %>
                            </ul>
                        <% } %>
                    </div>
                    <button type="submit">Upload file</button>
                </form>
            </div>

            <% if (f.files.length === 0) { %>
                <p>No files found</p>
            <% } else { %>
                <% f.files.forEach(file => { %>
                    <div class="file">
                        📄 <%= file.name %>
                        (<%= Math.round(file.size/1024) %> KB)
                        <a href="<%= file.url %>" target="_blank"><button>View file</button></a>
                        <button class="rename-file-btn" onclick="openRenameFilePopup(this)">Rename</button>
                        <div class="rename-file-popup <%= activePopup === 'renameFile' ? 'active': '' %>"> <!-- to keep popup open if set to true -->
                            <button class="close-popup" onclick="closeRenameFilePopup(this)">X</button>
                            <form action="/folder/<%= f.id %>_<% f.name.toLowerCase().replace(/\s+/g, '_') %>/rename-file" method="POST">
                                <label for="renameFile">File name:</label>
                                <input type="hidden" name="fileId" value="<%= file.id %>">
                                <input type="text" id="renameFile" name="renameFile" value="<%= formOld?.['renameFile'] || '' %>" required><br>
                                <div class="error">
                                    <% if (activePopup === 'renameFile' && formErrors.length) { %>
                                        <ul>
                                            <% formErrors.forEach(e => { %>
                                                <li style="color: red;"><%= e.msg %></li>
                                            <% }) %>
                                        </ul>
                                    <% } %>
                                </div>
                                <button type="submit">Rename file</button>
                            </form>
                        </div>
                    </div>
                <% }) %>
            <% } %>
        </div>
    </body>
</html>